<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">
      <a href="#" class="navbar-brand align-items-center">
        <i class="bi bi-images fs-2 me-1"></i>
        <strong>Gallery</strong>
      </a>
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#"
        >Home</a
      >
      <a class="nav-link fw-bold py-1 px-0" href="#">World Monuments</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">Gallery</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
      <a class="nav-link fw-bold py-1 px-0" href="#">Site Map</a>
    </nav>
  </div>
</header>
