<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <app-ang9-component></app-ang9-component>
  <main class="mt-auto mb-auto py-5">
    <h1>Historical Monument!</h1>
    <p class="lead">
      The gallery page of our monument website showcases stunning images and
      videos of our monument, providing visitors with an immersive visual
      experience. From breathtaking aerial views to intricate details of the
      architecture, the gallery captures the essence of the monument and its
      historical significance. Browse through our collection and discover the
      beauty and grandeur of our iconic landmark
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white"
        >Learn more</a
      >
    </p>
  </main>
</div>
